# macOS
.DS_Store

# Editor/IDE
.idea/
.vscode/
*.swp
*.swo



# Terraform
**/.terraform/**
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
tfplan
*.tfplan
terraform.tfvars
terraform.tfvars.json

# Kubernetes
kubeconfig
kubeconfig.yaml
.kube/

# Secrets/keys
*.pem
*.key
*.crt
*.p12
.env
.env.*


/k8s/auth-service/auth-service-secret.yaml